html, body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #39485E;
    margin: 0;
    overflow: hidden;

}

#menu {

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 90%;

}

#canvas {

    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    display: inline-block;

}

p {

    color: #E9E8FE;
    font-weight: bold;
    font-family: "Al Nile", "Apple LiGothic", sans-serif;
    font-size: 30px;

}

#score {

    color: #DFDEFB;

}