html, body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #39485E;
    margin: 0;
    overflow: hidden;
    text-align: center;

}

#pause, #start, #gameOverAnim {

    visibility: hidden;
    position: fixed;
    color: #DFDEFB;
    font-size: 45px;
    margin-left: 10px;
    animation: pause 2s infinite;

}

#menu {

    margin: 0;
    padding-top: 140px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #39485E;
    color: #39485E;
    z-index: 20;

}

#close {

    background: gray;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -80px;
    border-radius: 12px;
    margin-right: 40px;
    text-align: center;

}

#closeList {

    background: gray;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -165px;
    border-radius: 12px;
    margin-right: 40px;
    text-align: center;
    color: #39485E;
    cursor: pointer;

}

#tetris {

    background: #2B3D51;
    width: 380px;
    height: 100px;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    border-radius: 14px;
    font-size: 80px;
    color: white;

}

#highscore {

    background: #2B3D51;
    width: 380px;
    height: 100px;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    border-radius: 14px;
    font-size: 80px;
    color: white;

}

#versus {

    background: #2B3D51;
    width: 380px;
    height: 100px;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    border-radius: 14px;
    font-size: 80px;
    color: white;

}

#close:hover, #tetris:hover, #highscore:hover, #versus:hover, #closeList:hover {

    background: dimgray;
    transform: scale(1.1);
    cursor: pointer;

}

.activ {

    visibility: visible;

}

#mainMenu {

    position: absolute;
    width: 220px;
    height: 80px;
    background: orangered;
    margin: 0;
    padding: 0;
    top: 100px;
    float: left;
    left: -185px;
    border-radius: 20px;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    font-size: 44px;
    vertical-align: center;
    transition: left 1.5s;

}

#mainHighscore {

    position: absolute;
    width: 220px;
    height: 80px;
    background: indianred;
    margin: 0;
    padding: 0;
    top: 250px;
    float: left;
    left: -185px;
    border-radius: 20px;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;
    font-size: 40px;
    vertical-align: center;
    transition: left 1.5s;

}

#mainMenu span {

    position: relative;
    top: 12px;
    color: white;


}

#mainHighscore span {

    position: relative;
    top: 20px;
    color: white;


}

#mainMenu:hover, #mainHighscore:hover {

    left: 12px;
    cursor: pointer;


}

#score {

    position: fixed;
    color: #DFDEFB;
    font-size: 35px;
    margin-left: 10px;
    top: 1%;

}

#scoreList {

    visibility: hidden;
    position: absolute;
    visibility: visible;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background: #39485E;
    z-index: 15;

}

h1 {

    color: orangered;
    font-size: 90px;
    font-family: "Nanum Pen Script", "Marker Felt", sans-serif;

}

canvas {

    height: 90vh;
    border: solid .2em #fff;

}

#nextTile {

    position: absolute;;
    height: 250px;
    width: 250px;
    background: #2B3D51;
    top: 65px;
    left: 65%;
    border: solid .2em #fff;

}
@keyframes pause {

    25% {

        transform: scale(1);

    }

    50% {

        transform: scale(1.4);
        color: orangered;

    }

    75% {

        transform: scale(0.8);

    }

    100% {

        transform: scale(1);

    }

}