html, body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #39485E;
    margin: 0;
    overflow: hidden;
    text-align: center;

}

#pause, #start {

    visibility: hidden;
    position: fixed;
    color: #DFDEFB;
    font-size: 45px;
    margin-left: 10px;
    animation: pause 2s infinite;

}

.activ {

    visibility: visible;

}

#score {

    position: fixed;
    color: #DFDEFB;
    font-size: 35px;
    margin-left: 10px;
    top: 1%;

}

canvas {

    height: 90vh;
    border: solid .2em #fff;

}

@keyframes pause {

    25% {

        transform: scale(1);

    }

    50% {

        transform: scale(1.4);
        color: orangered;

    }

    75% {

        transform: scale(0.8);

    }

    100% {

        transform: scale(1);

    }

}